* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: hsl(217, 54%, 11%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */

main#container {
  background-color: hsl(216, 50%, 16%);
  padding: 25px;
  border-radius: 20px;
}

/* Info */

div#info {
  width: 350px;
}

/* Main image */

img#main-image {
  width: 350px;
  display: block;
  margin: auto;
  border-radius: 15px;
  opacity: 1;
  transition: 0.5s ease;
  float: left;
}

#image-container:hover img#main-image {
  cursor: pointer;
  opacity: 0.2;
}

div#effect {
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 15px;
  height: 350px;
}

img#view {
  width: 100px;
  position: relative;
  top: -60%;
  left: 38%;
}

div#image-container {
  height: 350px;
}

#image-container:hover div#effect {
  opacity: 1;
  background-color: hsla(178, 100%, 50%, 0.2);
}

/* Main content-info */

h1 {
  clear: left;
  color: white;
  font-size: 26px;
  padding: 20px 0;
}

h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

p {
  color: hsl(215, 51%, 70%);
}

div#info-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

div#ethereum-count {
  display: flex;
  align-items: center;
  gap: 5px;
}

div#ethereum-count span {
  color: hsl(178, 100%, 50%);
}

div#days {
  display: flex;
  align-items: center;
  gap: 5px;
}

div#days span {
  color: hsl(215, 51%, 70%);
}

div#creator-div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

img#profile {
  width: 50px;
  border: 2px solid white;
  border-radius: 50%;
}

span#creator-name {
  color: white;
}

span#creator-name:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

/* Footer */

.attribution {
  text-align: center;
  line-height: 24px;
  color: white;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media query for mobile devices */

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  div#image-container {
    height: 280px;
  }

  img#main-image {
    width: 280px;
  }

  div#effect {
    height: 280px;
  }

  img#view {
    position: relative;
    top: -70%;
    left: 35%;
  }

  div#info {
    width: 280px;
  }

  .attribution {
    font-size: 12px;
    margin-top: 10px;
  }

  img#profile {
    width: 30px;
  }
}

@media (max-width: 280px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 20px;
  }

  div#image-container {
    height: 250px;
  }

  img#main-image {
    width: 250px;
  }

  div#effect {
    height: 250px;
  }

  img#view {
    position: relative;
    left: 30%;
  }

  main#container {
    padding: 10px;
  }

  div#info {
    width: 250px;
  }
}
